/*
color pallette generator on falutline image gives these colors to work with:

Crimson- #D21710
Sadle Brown: #4E0C0F
Burly Wood: #D89E84
Sadle Brown: #7C211A
Sadle Brown: #190509

*/

body {
  background-color: #190509;
  color: #7C211A;
  font-family: Comic Sans MS;
}

.bannerImg{
  height: 50px;

}

//horizontal styling nav bar inspired from W3schools
header {
  width: 100%;
  text-align: center;
  padding: 15px;
  margin: 15px auto 30px auto;
  font-size: 30px;
  display: flex;
  flex-direction: row;

  .farSide {
    align-self: flex-end;
  }
 
  ul{
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: #333;
    li {
      // display: inline;
      background-color: #111;
      float: left;
      border-right: 1px solid #bbb;
      height: 70px;
      a {
        text-decoration: none;
        color: white;
        text-align: center;
        display: block;
        padding: 8px;
        padding: 14px 16px;
        &:hover{
          background-color: rgb(17, 17, 17);
        }
      }
    }
  }
}

main {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  align-content: center;
  border: 5px solid yellow;

  .videoDiv{
    border: 5px solid green;
    h1{
      text-align: center;
    }
    video{
      width: 50%;
      height: auto;
      margin: 30px auto;
      border: 1px solid white;
    }
  }

  section {
    border: 5px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px auto;
    table{
      border-collapse: collapse;
      margin: 0px 30px;
      tr{
        border: 1px solid white;
      }
      th {
        border: 1px solid white;
        height: 30px;
        text-align: center;
        vertical-align: bottom;
        padding: 15px;
      }
      td{
        border: 1px solid white;
        vertical-align: bottom;
        padding: 15px;
      }
    }
  }

  p{
    text-align: center;
  }

  
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

