/*
color pallette generator on falutline image gives these colors to work with:

Crimson- #D21710
Sadle Brown: #4E0C0F
Burly Wood: #D89E84
Sadle Brown: #7C211A
Sadle Brown: #190509

*/

body {
  background-color: #190509;
  color: #7C211A;
  font-family: Comic Sans MS;
}

.bannerImg{
  height: 50px;

}

//horizontal styling nav bar inspired from W3schools
header {
  height: 250px;
  text-align: center;
  padding: 15px;
  margin: 15px auto 30px auto;
  font-size: 30px;
  // background-image: url("./static/images/faultline.jpg");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  
  background-color: #D89E84;
  background-image: radial-gradient(#4E0C0F, #7C211A);
  ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: #333;
    li {
      // display: inline;
      float: left;
      border-right: 1px solid #bbb;
      a {
        text-decoration: none;
        color: white;
        text-align: center;
        display: block;
        padding: 8px;
        padding: 14px 16px;
        &:hover{
          background-color: #111;
        }
      }
    }
  }
}

main {
  margin: auto;
}

